{{- define "section-auth"}}
<div class="cmsLogin mx-400">
    <div class="login-top mb-64">
        <h1 class="loginHeading">Reset Your Password</h1>
        <p>Choose a new password for username@mail.com</p>
    </div>
    <div class="login-content">
        <div class="mail-signIn mx-400">
            <form action="" name="changepasswordform" id="changepasswordform" enctype="multipart/form-data">
                <div class="input-container">
                    <input type="text" id="otp" name="otp" maxlength="6" class="mx-400 field" required />
                    <label for="myInput" class="input-label">Enter 6 digit OTP</label>
                    <label id="otp-error" class="error err-txt" for="otp" style="display: none;">Please Enter The Otp
                    </label>
                </div>

                <div class="input-container passwordEye" id="eye">
                    <input type="password" id="mynewPassword" name="mynewPassword" class="mx-400 field " required />
                    <label for="myInput" class="input-label">New Password</label>
                    <label id="mynewPassword-error" class="error err-txt" for="mynewPassword"
                        style="display: none;">Please
                        Enter Your New Password</label>
                    <button id="pswdeye" class="" type="button"><img src="/static/icons/MaskGroup51.svg" alt="">
                        <img src="/static/icons/MaskGroup54.svg" alt="">
                    </button>
                </div>
                <div class="input-container passwordEye signupEye">
                    <input type="password" id="confrimPassword" name="confrimPassword" class="mx-400 field " required />
                    <label for="myInput" class="input-label">Confirm New Password</label>
                    <label id="confrimPassword-error" class="error err-txt" for="confrimPassword"
                        style="display: none;"> Please
                        Re-Enter Your New Password </label>
                    <button id="cpswdeye" class="" type="button"><img src="/static/icons/MaskGroup51.svg" alt="">
                        <img src="/static/icons/MaskGroup54.svg" alt="">
                    </button>
                </div>
                <p class="signUp-Comdition mb-16">
                    Did not receive the OTP?
                    <a id="againotp" href="javascript:void(0)">Send again</a>

                </p>

                <button class="cms-btn-dark mx-400" type="button" id="changepasssubmit">Submit</button>

                <!-- <div class="account-forgot">
                  <a href="/" class="">Return to Login</a>
                  <a href="/signup" class="">Don’t have an account?</a>
                </div> -->
            </form>
        </div>
    </div>
</div>
{{end}}