{{- define "section-auth"}}
<div class="cmsLogin mx-400">
    <div class="login-top mb-64">
        <h1 class="loginHeading">Change email</h1>
        <p>You will receive an OTP on your registered credentials</p>
    </div>
    <div class="login-content">
        <div class="mail-signIn mx-400">
            <form id="otpform" name="otpform" method="" enctype="multipart/form-data">
                <div class="input-container mb-16" id="email-con">
                    <input type="text" id="oldemail" name="email" class="mx-400 field" />
                    <label for="myInput" class="input-label">Old Email address</label>

                    <label id="oldemail-error" class="error err-txt" for="oldemail" style="display: none;">
                        Please Enter Your Old Email Address</label>
                </div>
                <button class="cms-btn-dark mx-400" type="button" id="changeemailotpsubmit">Submit</button>
            </form>
        </div>
    </div>
</div>
{{end}}