{{- define "section-auth"}}
<div class="cmsLogin mx-400">
    <div class="login-top mb-64">
        <h1 class="loginHeading">Change Your email</h1>
        <p>You may change your register Email Address</p>
    </div>
    <div class="login-content">
        <div class="mail-signIn mx-400">
            <form action="/verify-email-otp" id="changeemail" name="changeemail" method="post" enctype="multipart/form-data">
                <div class="input-container" id="otp-con">
                    <input type="text" id="otp" class="mx-400 field" name="otp" maxlength="6" required />
                    <label for="myInput" class="input-label">Enter 6 digit OTP</label>
                    <label id="otp-error" class="error err-txt" for="otp" style="display: none;">
                        Please Enter The Otp </label>
                </div>

                <div class="input-container" id="email-con">
                    <input type="text" id="emailaddress" name="emailaddress" class="mx-400 field" required>
                    <label for="myInput" class="input-label">New Email address</label>

                    <label id="emailaddress-error" class="error err-txt" for="emailaddress" style="display: none;">
                        Please Enter Your Email Address</label>
                </div>

                <div class="input-container" id="confrimemail-con">
                    <input type="text" id="confirmemail" name="confirmemail" class="mx-400 field" required>
                    <label for="myInput" class="input-label">Confirm New Email address</label>

                    <label id="confrimemail-error" class="error err-txt" for="confirmemail" style="display: none;">
                        <img src="/static/icons/Icon ionic-ios-close-circle.svg" class="m-0" alt="" /> Please Re-Enter
                        Your Email Address </label>

                </div>
                <p class="signUp-Comdition mb-16">
                    Did not receive the OTP?
                    <a id="againotp" href="javascript:void(0)">Send again</a>
                </p>

                <button class="cms-btn-dark mx-400" type="submit" id="changeemailsubmit">Submit</button>

                <!-- <div class="account-forgot">
            <a href="login.html" class="">Return to Login</a>
            <a href="signup.html" class="">Don’t have an account?</a>
          </div> -->
            </form>
        </div>
    </div>
</div>
{{end}}