{{- define "singlemain"}}
<div class="lg-in-wrapper">
    <div class="lg-details">
        <div class="logo-new">
            <img src="/static/icons/logo-new-login.png" alt="">
        </div>
        <div class="new-reset-details">
            <h3>Reset Your Password</h3>
            <p>Choose a new password for <span>username@gmail.com</span></p>
            <form action="" name="changepasswordform" id="changepasswordform" enctype="multipart/form-data">
                <div class="ig-row">
                    <p>Enter 6 digit OTP</p>
                    <input type="text" id="otp" name="otp" maxlength="6" placeholder="OTP" class="mx-400 field"
                        required />
                    <label id="otp-error" class="error err-txt" for="otp" style="display: none;">Please Enter The Otp
                    </label>
                </div>
                <div class="ig-row password passwordEye" id="eye1">
                    <p>New Password</p>
                    <input type="password" id="mynewPassword" name="mynewPassword" placeholder="New Password"
                        class="mx-400 field " required />
                    <button id="pswdeye" type="button"><img src="/static/icons/eye-close.png" alt=""></button>
                    <label id="mynewPassword-error" class="error err-txt" for="mynewPassword"
                        style="display: none;">Please
                        Enter Your New Password</label>

                </div>
                <div class="ig-row password passwordEye signupEye">
                    <p>Confirm New Password</p>
                    <input type="password" id="confrimPassword" placeholder="Confirm New Password"
                        name="confrimPassword" class="mx-400 field " required />
                    <label id="confrimPassword-error" class="error err-txt" for="confrimPassword"
                        style="display: none;"> Please
                        Re-Enter Your New Password </label>
                    <button id="cpswdeye" class="" type="button"><img src="/static/icons/eye-open.svg" alt=""></button>
                    <p class="otp">Did not receive the OTP?
                        <a id="againotp" href="javascript:void(0)">Send again</a>
                    </p>
                </div>
                <div class="login-btn">
                    <button class="cms-btn-dark mx-400" type="button" id="passwordrestsubmit">Submit</button>
                    <div class="lg-return">
                        <a href="/login">Return to Login</a>
                        <a href="/register">Don’t have an account?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <div class="img-slider">
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="/static/icons/login-slide.png" class="w-100 d-block" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Homepage</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/icons/login-slide.png" class="w-100 d-block" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Homepage</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/icons/login-slide.png" class="w-100 d-block" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Homepage</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore</p>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="First slide">
                    </li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                </ol>
            </div>
        </div>
    </div>
    {{end}}