{{- define "singlemain"}}
<div class="lg-in-wrapper">
    <div class="lg-details">
        <div class="logo-new">
            <img src="/static/icons/logo-new-login.png" alt="">
        </div>
        <div class="new-siginup-details">
            <h3>Sign up Into SpurtCMS</h3>
            <form id="signupform" name="signupform" enctype="multipart/form-data" method="post" action="/memberregister">
                <div class="ig-input">
                    <div class="ig-row" id="fname-con">
                        <p>First name</p>
                        <input type="text" id="firstname" name="fname" placeholder="First name" class="mx-400 field"
                            required />
                        <label id="firstname-error" class="error err-txt" for="firstname" style="display: none;">
                            <img src="/static/icons/Icon ionic-ios-close-circle.svg" class="m-0" alt="" /> Please Enter
                            The
                            First Name
                        </label>
                    </div>
                    <div class="ig-row" id="lname-con">
                        <p>Last name</p>
                        <input type="text" id="lastname" name="lname" placeholder="Last name" class="mx-400 field"/>
                    </div>
                </div>
                <div class="ig-row" id="mobile-con">
                    <p>Mobile number</p>
                    <input type="text" id="myNumber" name="mobile" maxlength="10" class="mx-400 field"
                        placeholder="Mobile number" required />
                    <label id="myNumber-error" class="error err-txt" for="myNumber" style="display: none;">
                        Please Enter The Mobile NUmber </label>
                </div>
                <div class="ig-row " id="email-con">
                    <p>Email address</p>
                    <input type="text" id="email" name="email" placeholder="Email" class="mx-400 field" required />
                    <label id="email-error" class="error err-txt" for="email" style="display: none;">
                        <img src="/static/icons/Icon ionic-ios-close-circle.svg" class="m-0" alt="" /> Please Enter The
                        Email
                        Address</label>
                </div>
                <div class="ig-row password passwordEye signupEye" id="pass-con">
                    <p>Password</p>
                    <input type="password" id="myPassword" name="password" placeholder="Password" class="mx-400 field"
                        required />
                    <label id="myPassword-error" class="error err-txt" for="myPassword" style="display: none;">
                        <img src="/static/icons/Icon ionic-ios-close-circle.svg" class="m-0" alt="" /> Please Enter The
                        Password
                    </label>
                    <button style="margin-right: 12px;" id="rpswdeye" type="button"><img src="/static/icons/MaskGroup51.svg" alt="">
                        <img src="/static/icons/MaskGroup54.svg" alt=""></button>
                </div>
                <div class="terms">
                    <p>By signing up you agree to our <a href="javascript:void(0)">Terms of Service </a> and <a href="javascript:void(0)"> Privacy Policy
                        </a></p>
                </div>
                <div class="sigin-btn">
                    <button type="submit" id="create-btn" >Create Account <span class="spinner-border spinner-border-sm" style="display: none;" role="status" aria-hidden="true"></span></button>
                    <p>Already have an account?
                        <a href="/login">Log in here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
        <div class="img-slider">
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img src="/static/icons/login-slide.png" class="w-100 d-block" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Homepage</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/icons/login-slide.png" class="w-100 d-block" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Homepage</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/icons/login-slide.png" class="w-100 d-block" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>Homepage</h3>
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                invidunt ut labore</p>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="First slide">
                    </li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                </ol>
            </div>
        </div>
</div>
        {{end}}